.dropdown {
  position: absolute;
  left: 0;
  border: 1px solid #dedede;
  width: 100%;
  margin-top: 60px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.05),
    0px 2px 4px rgba(50, 50, 50, 0.1);
  border-radius: 12px;
  padding: 8px 4px;
  max-height: 300px;
  overflow-y: scroll;
  z-index: 100;
}

.align_center {
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 32px;
  color: #9f9f9f;
}

.ellipsis {
  font-weight: 900;
}
