.form_wrapper {
  position: relative;
}

.form_container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  border: 1px solid #dedede;
  border-radius: 6px;
  justify-content: space-between;
  padding: 2px calc(1rem + 2px);
}

.form_container:hover {
  border: 3px solid #dedede;
  padding: 0px 1rem;
}

.form_container:active,
.accent_border {
  border: 1px solid #9f9f9f;
  padding: 2px calc(1rem + 2px);
}

.input_text {
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  padding-right: 5px;
  padding-left: 10px;
  border-radius: calc(0.5 * 100px);
  background-color: transparent;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 45px;
  outline: none;
  border: none;
}

.search_bar {
  display: flex;
  align-items: center;
  width: 90%;
}
