.dropdown_item {
  list-style: none;
  padding: 16px 1.5rem;
  font-size: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 4px;
}

.dropdown_item:hover {
  opacity: 0.85;
  background-color: #eaeaea;
}

.dropdown_item:active {
  background-color: #d5f4f1;
}

.accent_text {
  color: #2bc9ba;
}
